/*
                     hmmmmmmdy-   :mmmm+    +mmmmmmdy:     -mmmmo  ymmh   `mmm/ hmmmmmmmm. hmms
                     hmmh/+ymmm:  ymmmmd    +mmm//smmm:    smmmmm` :mmm.  /mmm` hmmy/////` hmms
      :y.            hmms   dmms `mmmmmm-   +mmm   ymmy    dmmmmm:  dmmo  ymms  hmm+       hmms
    `+mmd:           hmms  `dmmo /mmhsmms   +mmm   hmmy   :mmdommy  +mmd `mmm-  hmm+```    hmms
   `sddddd/          hmmhooymmm- ymm+:mmm`  +mmmssymmd-   smmo-mmm. `mmm//mmd   hmmdhhh/   hmms
  -ho....-hs`        hmmdhhhyo. .mmm. mmm/  +mmmhdmmh.   `mmm- dmm+  smmyymm+   hmmhooo:   hmms
 /mmms` .hmmh-       hmms```    +mmmssdmmh  +mmm`:mmm-   /mmmssdmmd  -mmmmmm.   hmm+       hmms
+hdddds:hddddh-      hmms       hmmdhhhmmm. +mmm  hmmy   ymmdhhhmmm-  hmmmmy    hmm+       hmms
``````````````       hmms      .mmm-```dmmo +mmm  :mmm: `mmm:```dmms  /mmmm/    hmmy/////` hmmh/////
                     hmms      ommd    ommd +mmm   hmmh +mmm    ommm` `mmmm`    hmmmmmmmm. hmmmmmmmm
*/


/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}

html {
  overflow-y: auto;
}

body {
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-align: center;
	color: #333;
	font: normal 100%/1.5 "proxima-nova-1","proxima-nova-2";
	background-color: #4b4b4b;
}

h1{
	color: #e6dfc1;
	text-transform: uppercase;
	font-size: 8em;
	font-weight: bold;
	text-shadow: 0.04em 0.03em 0 #5ea6a6;
	line-height: 1;
}

@viewport {
  width: device-width;
}

.container {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1420px;
  *zoom: 1;
  padding: 6% 0 0;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 680px) {
	h1{
		font-size: 15.5em;
	}
}

@media screen and (min-width: 1000px) {
	h1{
		font-size: 25em;
	}
}

@media screen and (min-width: 1300px) {
	h1{
		font-size: 30em;
	}
}